@page "/OrphanDetails/{id:int}"
@attribute [Authorize(Roles = "Admin,Staff,Guest,OrphanReadWrite")]

@using Syncfusion.Blazor.Navigations
@using LCMClient.Features.Shared

<SfConfirmDeleteDialog IsVisible="@showDelConfirmDialog"
                       ConfirmationChanged="@OnConfirmDelete"
                       ConfirmationMessage="@($"Are you sure you want to delete \"{Orphan?.FullName}\"")">

</SfConfirmDeleteDialog>


@if (Orphan is not null)
{
    <div class="ml-16 mr-16 shadow-2xl flex flex-col h-screen">  
        
        <div class="">
              <div class="@profileBgClass">
                        <div class="flex items-center w-auto rounded-lg p-6">
                            <div class="w-1/6">
                                <img src="@Orphan.ProfilePicUrl" class="h-16 w-16 md:h-32 md:w-32 rounded-full mx-auto md:mx-0" alt="@Orphan.FullName">
                            </div>
                            <div class="w-3/6">
                                <h1 class="text-2xl text-left">
                                    <span class="@fullNameStyle">@Orphan.FullName</span>
                                </h1>
                            </div>
                            <div class="w-2/6 flex justify-end">
                                <h1 class="text-2xl text-right bg-blue-100 rounded-2xl text-blue-600" style="padding:6px;">
                                    @Orphan.LCMStatus
                                </h1>
                            </div>
                        </div>
                    </div>
                   
                    
                    <!--Orphan Summary-->
                    <div class="md:flex p-4 w-auto bg-yellow-200">
                        <div class="w-1/4">
                            <span class="text-left font-bold" style="padding-bottom:2px;">Has Guardian:</span> <span class="@Summary.HasGuardianStyle">@Summary.HasGuardian</span><br>
                            <span class="text-left font-bold">Sponsors:</span> @Summary.NumOfSponsors <br>
                        </div>
                        <div class="w-1/4">
                            <span class="text-left font-bold" style="padding-bottom:2px;">Age:</span> @Summary.Age <br>
                            <span class="text-left font-bold">Birthday:</span> @Summary.BirthdayFormatted
                        </div>
                        <div class="w-1/4">
                            <span class="text-left font-bold" style="padding-bottom:2px;">Condition:</span> @Summary.Condition<br>
                            <span class="text-left font-bold">Year of Admission:</span> @Summary.YearOfAdmission
                        </div>
                        <div class="w-1/4">
                            <span class="text-left font-bold" style="padding-bottom:2px;">LCM Status:</span> <span class="@Summary.LCMStatusStyle">@Summary.LCMStatus</span><br>
                            <span class="text-left font-bold">Profile Number:</span> @Summary.ProfileNumber
                        </div>
                    </div>
        </div>
      

        <div class="bg-white mb-10 flex-1 overflow-y-auto">
            <SfTab @ref="sfTabs"
                   CssClass="tab-adaptive"
                   OverflowMode="@OverflowMode.Scrollable"
                   HeaderPlacement="@HeaderPosition.Top" 
                   ScrollStep="150">
                <TabItems>
                    <TabItem>
                        <ChildContent>
                            <TabHeader Text="Profile" IconCss="orphan-icon" IconPosition="Left"></TabHeader>
                        </ChildContent>
                        <ContentTemplate>
                            <OrphanProfile Orphan="@Orphan" EditMode="@isEditMode" HandleOrphanEdited="@HandleOrphanEdited" />
                        </ContentTemplate>
                    </TabItem>
                    <TabItem>
                        <ChildContent>
                            <TabHeader Text="Academics"></TabHeader>
                        </ChildContent>
                        <ContentTemplate>
                            <OrphanAcademics Orphan="@Orphan" />
                        </ContentTemplate>
                    </TabItem>
                    <TabItem>
                        <ChildContent>
                            <TabHeader Text="Narrations"></TabHeader>
                        </ChildContent>
                        <ContentTemplate>
                            <OrphanNarrations Orphan="@Orphan" />
                        </ContentTemplate>
                    </TabItem>
                    <TabItem>
                        <ChildContent>
                            <TabHeader Text="Guardian"></TabHeader>
                        </ChildContent>
                        <ContentTemplate>
                            <OrphanGuardian Orphan="@Orphan" HandleOrphanEdited="@HandleOrphanEdited" />
                        </ContentTemplate>
                    </TabItem>
                    <TabItem>
                        <ChildContent>
                            <TabHeader Text="Sponsors"></TabHeader>
                        </ChildContent>
                        <ContentTemplate>
                            <OrphanSponsors Orphan="@Orphan" HandleOrphanEdited="@HandleOrphanEdited" />
                        </ContentTemplate>
                    </TabItem>
                    <TabItem>
                        <ChildContent>
                            <TabHeader Text="Pictures"></TabHeader>
                        </ChildContent>
                        <ContentTemplate>
                            <OrphanPictures Orphan="@Orphan" />
                        </ContentTemplate>
                    </TabItem>
                    <TabItem>
                        <ChildContent>
                            <TabHeader Text="PDFs"></TabHeader>
                        </ChildContent>
                        <ContentTemplate>
                            <OrphanPDFs Orphan="@Orphan" />
                        </ContentTemplate>
                    </TabItem>
                </TabItems>
            </SfTab>
        </div>
    </div>
}
else
{
    <LoadingAnimation />
}



<AuthorizeView Roles="Admin,Staff,OrphanReadWrite">
    <Authorized>
        <MatFAB Class="edit-fab-absolute" Icon="@MatIconNames.Edit" Label="Edit Orphan" OnClick="@OnEditClick"></MatFAB>
        <MatFAB Class="delete-fab-absolute" Icon="@MatIconNames.Delete" Label="Delete Orphan" OnClick="@OnDeleteClick"></MatFAB>
    </Authorized>
    <NotAuthorized>
        
    </NotAuthorized>
</AuthorizeView>




<style>

    /* MatBlazor FAB */
    .delete-fab-absolute {
        position: fixed;
        bottom: 1rem;
        right: 1rem;
        background-color: crimson;
    }

    /* MatBlazor FAB */
    .edit-fab-absolute {
        position: fixed;
        bottom: 1rem;
        right: 13.5rem;
        background-color: #00529B;
    }

    /* Syncfusion classes for the tabs.
        Doesn't work in isolated css file.*/

    .e-tab .e-tab-header .e-toolbar-item .e-tab-text,
    .e-tab .e-tab-header .e-toolbar-item .e-tab-wrap .e-tab-icon {
        font-size: 18px;
    }

    .e-tab .e-tab-header .e-toolbar-item .e-tab-wrap,
    .e-tab .e-tab-header .e-toolbar-item .e-tab-wrap .e-tab-icon {
        color: #2a4365;
    }

    .e-content .e-item {
        padding: 10px;
        text-align: justify;
    }

    @@media screen and (max-width: 425px) {
        .e-tab .e-tab-header .e-toolbar-item .e-tab-text,
        .e-tab .e-tab-header .e-toolbar-item .e-tab-wrap .e-tab-icon {
            font-size: 14px;
        }

        .tab-adaptive {
            overflow: hidden;
        }

            .tab-adaptive .e-content {
                height: inherit !important;
            }

            .tab-adaptive .e-item.e-active {
                overflow: scroll;
            }
    }
</style>