@using LCMClient.Features.Orphans.Enums;
@using Syncfusion.Blazor.InPlaceEditor
@using LCMClient.Features.Shared

<SfConfirmDeleteDialog IsVisible="@showDelConfirmDialog"
                       ConfirmationChanged="OnConfirmDelete"
                       ConfirmationMessage=@($"Are you sure you want remove {Orphan?.Guardian?.FullName} as {Orphan?.FirstName}'s guardian?")>

</SfConfirmDeleteDialog>


<TabContentHeader HeaderText="Guardian"
                  ButtonOnclickHandler="OnAddClick"
                  ButtonIcon="fa fa-plus"
                  ButtonText="Add"
                  ShowButton="@(Orphan?.Guardian == null)">
    <div class="text-white">
       <GuardianSVG Width="8" Height="8" />
    </div>
</TabContentHeader>

<div class="m-10">

    @{
        switch (viewMode)
        {
            case ViewMode.AddNew:
                <GuardianAssignmentDialog IsVisible="true"
                                          Orphan="@Orphan"
                                          OnAddNewComplete="OnAddNewComplete" />
                break;
            case ViewMode.List:
                break;
        }
    }

    @if (Orphan?.Guardian != null)
    {
        <div class="w-full">
            <div class="w-3/4 border-2 border-gray-600 bg-blue-100 rounded mb-6">
                <div class="p-8">
                    <div class="flex items-center mb-6">
                        <label class="md:text-2xl font-semibold mr-6">First Name</label>
                        <p class="md:text-2xl text-blue-900 font-semibold">@Orphan.Guardian.FirstName</p>
                    </div>
                    <div class="flex items-center mb-6">
                        <label class="md:text-2xl font-semibold mr-4">Last Name</label>
                        <p class="md:text-2xl text-blue-900 font-semibold">@Orphan.Guardian.LastName</p>
                    </div>
                    <div class="flex items-center mb-6">
                        <label class="md:text-2xl font-semibold mr-6">Location</label>
                        <p class="md:text-2xl text-blue-900 font-semibold">@Orphan.Guardian.Location</p>
                    </div>
                    <div class="flex items-center mb-6">
                        <label class="md:text-2xl font-semibold mr-6">Relationship</label>
                        <p class="md:text-2xl text-blue-900 font-semibold">@Orphan.RelationshipToGuardian</p>
                        <div class="ml-2">
                            <SfInPlaceEditor Mode="RenderMode.Inline"
                                             EditableOn="EditableType.Click"
                                             Type="Syncfusion.Blazor.InPlaceEditor.InputType.Text"
                                             @bind-Value="@Orphan.RelationshipToGuardian">
                                <InPlaceEditorEvents SubmitClick="RelationshipEditHandler" TValue="string"></InPlaceEditorEvents>
                            </SfInPlaceEditor>
                        </div>

                    </div>
                </div>

                <div class="flex items-center justify-end mt-4 bg-gray-800 p-6">
                    <button type="button" class="mr-4" @onclick="OnRemoveClick">
                        <h3 class="text-2xl text-red-400">Remove</h3>
                    </button>
                </div>
            </div>
        </div>
    }
    else
    {
        <p class="text-2xl">No guardian found for @Orphan?.FullName</p>
    }
</div>