@using LCMClient.Features.Orphans.Enums;
@using Syncfusion.Blazor.InPlaceEditor
@using LCMClient.Features.Shared

@attribute [Authorize(Roles = "Admin,Staff,OrphanReadWrite,Guest")]

<SfConfirmDeleteDialog IsVisible="@showDelConfirmDialog"
                       ConfirmationChanged="OnConfirmDelete"
                       ConfirmationMessage=@($"Are you sure you want remove {Orphan?.Guardian?.FullName} as {Orphan?.FirstName}'s guardian?")>

</SfConfirmDeleteDialog>

<AuthorizeView Roles="Admin,Staff,OrphanReadWrite">
    <Authorized>
        <TabContentHeader HeaderText="Guardian"
                          ButtonOnclickHandler="OnAddClick"
                          ButtonIcon="fa fa-plus"
                          ButtonText="Add"
                          ShowButton="@(Orphan?.Guardian == null)">
            <div class="text-white">
                <GuardianSVG Width="8" Height="8"/>
            </div>
        </TabContentHeader>
    </Authorized>
    <NotAuthorized>
        <TabContentHeader HeaderText="Guardian"
                          ButtonOnclickHandler="OnAddClick"
                          ButtonIcon="fa fa-plus"
                          ButtonText="Add"
                          ShowButton="false">
            <div class="text-white">
                <GuardianSVG Width="8" Height="8"/>
            </div>
        </TabContentHeader>
    </NotAuthorized>
</AuthorizeView>


<div class="m-10">

    @{
        switch (viewMode)
        {
            case ViewMode.AddNew:
                <AuthorizeView Roles="Admin,Staff,OrphanReadWrite">
                    <Authorized>
                        <GuardianAssignmentDialog IsVisible="true"
                                                  Orphan="@Orphan"
                                                  OnAddNewComplete="OnAddNewComplete"/>
                    </Authorized>
                    <NotAuthorized>

                    </NotAuthorized>
                </AuthorizeView>

                break;
            case ViewMode.List:
                break;
        }
    }
    
       <div class="mt-2 mb-4 flex flex-row justify-center">
            <button @onclick="ShowHideHistoryHandler" class="bg-yellow-200 hover:bg-yellow-500 text-blue-900 font-semibold hover:text-white py-2 px-4 rounded">
                <div class="flex items-center">
                    <i class="@showHideHistoryButtonIcon mr-2"></i> @showHideHistoryButtonText
                </div>
            </button>
        </div>
    
    @if (showHistory)
    {
        <OrphanGuardianHistory OrphanHistory="orphanHistory" />
    }
    

    @if (Orphan?.Guardian != null)
    {
        <div class="w-full">
            <div class="w-3/4 border-2 border-gray-600 bg-blue-100 rounded mb-6">
                <div class="p-8">
                    <div class="flex items-center mb-6">
                        <label class="md:text-2xl font-semibold mr-6">First Name</label>
                        <p class="md:text-2xl text-blue-900 font-semibold">@Orphan.Guardian.FirstName</p>
                    </div>
                    <div class="flex items-center mb-6">
                        <label class="md:text-2xl font-semibold mr-4">Last Name</label>
                        <p class="md:text-2xl text-blue-900 font-semibold">@Orphan.Guardian.LastName</p>
                    </div>
                    <div class="flex items-center mb-6">
                        <label class="md:text-2xl font-semibold mr-6">Location</label>
                        <p class="md:text-2xl text-blue-900 font-semibold">@Orphan.Guardian.Location</p>
                    </div>
                    <div class="flex items-center mb-6">
                        <label class="md:text-2xl font-semibold mr-6">Relationship</label>
                        <p class="md:text-2xl text-blue-900 font-semibold">@Orphan.RelationshipToGuardian</p>
                        <div class="ml-2">
                            <AuthorizeView Roles="Admin,Staff,OrphanReadWrite">
                                <Authorized>
                                    <SfInPlaceEditor Mode="RenderMode.Inline"
                                                     EditableOn="EditableType.Click"
                                                     Type="Syncfusion.Blazor.InPlaceEditor.InputType.Text"
                                                     @bind-Value="@Orphan.RelationshipToGuardian">
                                        <InPlaceEditorEvents SubmitClick="RelationshipEditHandler" TValue="string"></InPlaceEditorEvents>
                                    </SfInPlaceEditor>
                                </Authorized>
                                <NotAuthorized>

                                </NotAuthorized>
                            </AuthorizeView>

                        </div>

                    </div>
                </div>

                <div class="flex items-center justify-between mt-4 bg-gray-800 p-6">
                    <AuthorizeView Roles="Admin,Staff,OrphanReadWrite">
                        <Authorized>
                            <div class="text-2xl">
                                <a href="/GuardianDetails/@Orphan.Guardian.GuardianID" target="_blank">
                                    <span class="text-blue-500 hover:underline">Edit Guardian</span>
                                </a>
                            </div>
                            <button type="button" class="mr-4" @onclick="OnRemoveClick">
                                <h3 class="text-2xl text-red-400">Remove</h3>
                            </button>
                        </Authorized>
                        <NotAuthorized>

                        </NotAuthorized>
                    </AuthorizeView>
                </div>
            </div>
        </div>
    }
    else
    {
        <p class="text-2xl">No guardian found for @Orphan?.FullName</p>
    }
</div>