@using LCMClient.Features.Orphans.Enums
@using LCMClient.Features.Shared
@using LCMClient.Features.Orphans.Components 

<SfConfirmDeleteDialog IsVisible="@showDelConfirmDialog"
                       ConfirmationChanged="OnConfirmDelete"
                       ConfirmationMessage=@($"Are you sure you want remove this sponsor as { Orphan?.FirstName }'s sponsor?")>

</SfConfirmDeleteDialog>

<TabContentHeader HeaderText="Sponsors"
                  ButtonOnclickHandler="OnAddClick"
                  ButtonIcon="fa fa-plus"
                  ButtonText="Add"
                  ShowButton="true">
    <div class="text-white">
      <SponsorSVG Width="8" Height="8" />
    </div>
</TabContentHeader>


<div class="m-10">
    @{
        switch (viewMode)
        {
            case ViewMode.AddNew:
                <SponsorAssignmentDialog IsVisible="true"
                                         Orphan="@Orphan"
                                         OnAddNewComplete="OnAddNewComplete" />
                break;
            case ViewMode.List:
                break;
        }
    }

    @if (Orphan?.Sponsors != null && Orphan?.Sponsors.Count() != 0)
    {
        foreach (var sponsor in Orphan.Sponsors)
        {
            <div class="w-full">
                <div class="w-3/4 border-2 border-gray-600 bg-blue-100 rounded mb-6">
                    <div class="p-8">
                        <div class="flex items-center mb-2">
                            <label class="md:text-2xl font-semibold mr-6">First Name</label>
                            <p class="md:text-2xl text-blue-900 font-semibold">@sponsor.FirstName</p>
                        </div>
                        <div class="flex items-center mb-2">
                            <label class="md:text-2xl font-semibold mr-6">Last Name</label>
                            <p class="md:text-2xl text-blue-900 font-semibold">@sponsor.LastName</p>
                        </div>
                        <div class="flex items-center mb-2">
                            <label class="md:text-2xl font-semibold mr-6">Location</label>
                            <p class="md:text-2xl text-blue-900 font-semibold">@sponsor.Address</p>
                        </div>
                        <div class="flex items-center mb-2">
                            <label class="md:text-2xl font-semibold mr-6">City</label>
                            <p class="md:text-2xl text-blue-900 font-semibold">@sponsor.City</p>
                        </div>
                        <div class="flex items-center mb-2">
                            <label class="md:text-2xl font-semibold mr-6">State</label>
                            <p class="md:text-2xl text-blue-900 font-semibold">@sponsor.State</p>
                        </div>
                        <div class="flex items-center mb-2">
                            <label class="md:text-2xl font-semibold mr-6">Postal Code</label>
                            <p class="md:text-2xl text-blue-900 font-semibold">@sponsor.ZipCode</p>
                        </div>
                        <div class="flex items-center mb-2">
                            <label class="md:text-2xl font-semibold mr-6">Email</label>
                            <p class="md:text-2xl text-blue-900 font-semibold">@sponsor.Email</p>
                        </div>
                        <div class="flex items-center mb-2">
                            <label class="md:text-2xl font-semibold mr-6">Main Phone</label>
                            <p class="md:text-2xl text-blue-900 font-semibold">@sponsor.MainPhone</p>
                        </div>
                    </div>

                    <div class="flex items-center justify-end mt-4 bg-gray-800 p-6">
                        <button type="button" class="mr-4" @onclick="() => OnRemoveClick(sponsor.SponsorID)">
                            <h3 class="text-2xl text-red-400">Remove</h3>
                        </button>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <p class="text-2xl">No sponsors found for @Orphan?.FullName</p>
    }
</div>