@page "/orphanCreation"

@using LCMClient.Features.Orphans.Models
@using LCMClient.Features.Orphans.Repository.Contracts
@using MatBlazor;

@inject NavigationManager navigationManager
@inject IOrphanRepository orphanRepository
@inject IMatToaster toaster

@attribute [Authorize(Roles = "Admin,Staff,OrphanReadWrite")]


<EditForm Model="@newOrphan" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <MudCard Class="my-mud-card-form" Elevation="3">
        <MudCardHeader Class="mud-card-header">
            <CardHeaderContent>
                <MudText Typo="Typo.h6">Add New Orphan</MudText>
            </CardHeaderContent>
            <CardHeaderActions>
                <MudIconButton Icon="@Icons.Material.Cancel" Color="Color.Default" OnClick="@OnCancel" />
            </CardHeaderActions>
        </MudCardHeader>
        <MudCardContent>

            <!-- First Name -->
            <div class="w-full px-3 mb-6">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="firstName">
                    First Name
                </label>
                <InputText id="firstName" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                           @bind-Value="newOrphan.FirstName" />
                <ValidationMessage For="@(() => newOrphan.FirstName)" />
            </div>

            <!-- Middle Name -->
            <div class="w-full px-3 mb-6">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="middleName">
                    Middle Name
                </label>
                <InputText id="middleName" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                           @bind-Value="newOrphan.MiddleName" />
                <ValidationMessage For="@(() => newOrphan.MiddleName)" />
            </div>

            <!-- Last Name -->
            <div class="w-full px-3 mb-6">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="lastName">
                    Last Name
                </label>
                <InputText id="lastName" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                           @bind-Value="newOrphan.LastName" />
                <ValidationMessage For="@(() => newOrphan.LastName)" />
            </div>

            <div class="flex flex-wrap mb-6">
                <!-- Gender -->
                <div class="w-full md:w-48 px-3 mb-6 md:mb-0 mr-8">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="gender">
                        Gender
                    </label>
                    <div class="relative">
                        <InputSelect id="gender" class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                                     @bind-Value="newOrphan.Gender">
                            <option value="">Select Gender</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </InputSelect>
                        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                            </svg>
                        </div>
                        <ValidationMessage For="@(() => newOrphan.Gender)" />
                    </div>
                </div>

                <!-- LCM Status -->
                <div class="w-full md:w-48 px-3 mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="lcmStatus">
                        Status
                    </label>
                    <div class="relative">
                        <InputSelect id="lcmStatus" class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                                     @bind-Value="newOrphan.LCMStatus">
                            <option value="">Select LCM Status</option>
                            <option value="Active">Active</option>
                            <option value="Inactive">Inactive</option>
                            <option value="Active-In School">Active-In School</option>
                            <option value="Active-Not In School">Active-Not In School</option>
                            <option value="Inactive- Married">Inactive-Married</option>
                            <option value="Inactive-Working">Inactive-Working</option>
                            <option value="Inactive-Deceased">Inactive-Deceased</option>
                        </InputSelect>
                        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                            </svg>
                        </div>
                        <ValidationMessage For="@(() => newOrphan.LCMStatus)" />
                    </div>
                </div>
            </div>

            <div class="flex flex-wrap mb-6">
                <!-- DOB -->
                <div class="w-full md:w-48 px-3 mb-6 md:mb-0 mr-8">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="dateOfBirth">
                        Date Of Birth
                    </label>
                    <InputDate id="dateOfBirth" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                               @bind-Value="newOrphan.DateOfBirth" />
                    <ValidationMessage For="@(() => newOrphan.DateOfBirth)" />
                </div>

                <!-- Profile Number -->
                <div class="w-full md:w-48 px-3 mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="profileNumber">
                        Profile Number
                    </label>
                    <InputText id="profileNumber" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                               @bind-Value="newOrphan.ProfileNumber" />
                    <ValidationMessage For="@(() => newOrphan.ProfileNumber)" />
                </div>
            </div>

            <div class="flex flex-wrap mb-6">
                <!-- Year of Admission -->
                <div class="w-full md:w-48 px-3 mb-6 md:mb-0 mr-8">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="yearOfAdmission">
                        Year of Admission
                    </label>
                    <InputDate id="yearOfAdmission" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                               @bind-Value="newOrphan.YearOfAdmission" />
                    <ValidationMessage For="@(() => newOrphan.YearOfAdmission)" />
                </div>

                <!-- Condition -->
                <div class="w-full md:w-48 px-3 mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="condition">
                        Condition
                    </label>
                    <div class="relative">
                        <InputSelect id="condition" class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                                     @bind-Value="newOrphan.Condition">
                            <option value="">Select Condition</option>
                            <option value="Active">Total Orphan</option>
                            <option value="Partial Orphan">Partial Orphan</option>
                            <option value="Vulnerable">Vulnerable</option>
                        </InputSelect>
                        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                            </svg>
                        </div>
                        <ValidationMessage For="@(() => newOrphan.Condition)" />
                    </div>
                </div>

                <!-- Location -->
                <div class="w-full md:w-48 px-3 mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="location">
                        Location
                    </label>
                    <div class="relative">
                        <InputSelect id="location" class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                                     @bind-Value="newOrphan.Location">
                            <option value="">Select Location</option>
                            <option value="Wachara">Wachara</option>
                            <option value="Kisumu">Kisumu</option>
                        </InputSelect>
                        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                            </svg>
                        </div>
                        <ValidationMessage For="@(() => newOrphan.Location)" />
                    </div>
                </div>
            </div>

            <ValidationSummary />

        </MudCardContent>
        <MudCardActions>
            <div class="create-button-container">
                <MudButton Variant="Variant.Filled"
                           Color="Color.Primary"
                           Size="Size.Large"
                           StartIcon="@Icons.Material.Add"
                           ButtonType="ButtonType.Submit">
                    Add New Orphan
                </MudButton>
            </div>

        </MudCardActions>
    </MudCard>
</EditForm>

@code {

    private OrphanCreationModel newOrphan = new();

    private async Task HandleValidSubmit()
    {
        await orphanRepository.AddOrphanAsync(newOrphan);
        toaster.Add("Orphan added.", MatToastType.Success);
        navigationManager.NavigateTo("/orphans");
    }

    private void OnCancel()
    {
        navigationManager.NavigateTo("/orphans");
    }
}
