@using LCMClient.Features.Orphans.Enums
@using LCMClient.Features.Shared
@using LCMClient.Features.Orphans.Components


<SfConfirmDeleteDialog IsVisible="@showDelConfirmDialog"
                       ConfirmationChanged="OnConfirmDelete"
                       ConfirmationMessage=@($"Are you sure you want to delete this academic record?")>
</SfConfirmDeleteDialog>


<TabContentHeader HeaderText="Academics"
                  ButtonOnclickHandler="OnAddClick"
                  ButtonIcon="fa fa-plus"
                  ButtonText="Add"
                  ShowButton="true">
    <div style="margin-top:2px;"><i class="fa fa-school text-white text-2xl"></i></div>
</TabContentHeader>


<div class="m-10">
    @{
        switch (viewMode)
        {
            case ViewMode.AddNew:
                <AcademicCreationDialog IsVisible="true"
                                        Orphan="@Orphan"
                                        OnAddNewComplete="OnAddNewComplete" />
                break;
            case ViewMode.Edit:
                <AcademicEditDialog IsVisible="true"
                                    AcademicRecord="@academicEdit"
                                    AcademicId="@academicIdToEdit"
                                    OnEditComplete="OnEditComplete" />
                break;
            case ViewMode.List:
                break;
        }
    }

    @if (Orphan != null)
    {
        <div class="w-full">

            @foreach (var academic in Orphan.Academics)
            {
                <div class="w-3/4 border-2 border-gray-600 bg-blue-100 rounded mb-6">
                    <div class="p-8">
                        <div class="flex items-center justify-space-between border-bottom border-b-2 border-gray-900 mb-6">
                            <p class="md:text-xl font-serif font-semibold">@Orphan.FullName</p>
                            <p class="md:text-xl font-semibold">@($"{academic.EntryDate:d}")</p>
                        </div>
                        <div class="flex items-center border-bottom border-b-2 border-gray-900 mb-6">
                            <label class="md:text-2xl font-semibold mr-6">Grade</label>
                            <p class="md:text-2xl text-blue-900 font-semibold">@academic.Grade</p>
                        </div>
                        <div class="flex items-center border-bottom border-b-2 border-gray-900 mb-6">
                            <label class="md:text-2xl font-semibold mr-4">School</label>
                            <p class="md:text-2xl text-blue-900 font-semibold">@academic.School</p>
                        </div>
                        <div class="flex items-center border-bottom border-b-2 border-gray-900 mb-6">
                            <label class="md:text-2xl font-semibold mr-6">KCPE</label>
                            <p class="md:text-2xl text-blue-900 font-semibold">@academic.KCPE</p>
                        </div>
                        <div class="flex items-center border-bottom border-b-2 border-gray-900 mb-6">
                            <label class="md:text-2xl font-semibold mr-6">KCSE</label>
                            <p class="md:text-2xl text-blue-900 font-semibold">@academic.KCSE</p>
                        </div>
                        <div class="flex-col items-start mb-6">
                            <label class="md:text-2xl font-semibold">Post KCSE Notes:</label>
                            <p class="md:text-xl">@academic.PostKCSENotes</p>
                        </div>
                    </div>

                    <div class="flex items-center justify-end mt-4 bg-gray-800 p-6">
                        <button type="button" class="mr-4" @onclick="() => OnEditClick(academic)">
                            <i class="fa fa-edit text-2xl text-blue-400"></i>
                        </button>
                        <button type="button" class="mr-4" @onclick="() => OnDeleteClick(academic.AcademicID)">
                            <i class="fa fa-trash text-2xl text-red-400"></i>
                        </button>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <p>No academic records found for @Orphan.FullName</p>
    }
</div>