@using LCMClient.Features.Shared

<TabContentHeader 
                HeaderText="@headerText"
                ButtonOnclickHandler="ToggleEditMode"
                ButtonIcon="@editViewIcon"
                ButtonText="@editViewText"/>

@if (EditMode)
{
    <div class="mb-20">
        <OrphanProfileEdit Orphan="@Orphan" HandleOrphanEdited="@HandleOrphanEditedByChild" />
    </div>
}
else
{
    <div class="mb-20">
        <OrphanProfileView Orphan="@Orphan" HandleToggleEditView="@ToggleEditMode" />
    </div>
}

