@using LCMClient.Features.Orphans.Models

<div class="md:flex width-full items-start mb-8">
    <div class="w-1/2">
        <OrphanProfilePhoto Orphan="@Orphan"/>
        <div class="mt-10 flex w-full justify-center">
            <AuthorizeView Roles="Admin,Staff,OrphanReadWrite">
                <Authorized>
                    <button @onclick="SwitchToEditViewHandler" class="bg-blue-600 hover:bg-blue-800 text-white font-semibold hover:text-white py-2 px-4 rounded mr-12">
                        <div class="flex items-center">
                            <i class="fa fa-edit mr-2"></i> Edit Profile Picture
                        </div>
                    </button>
                </Authorized>
                <NotAuthorized>

                </NotAuthorized>
            </AuthorizeView>

        </div>
    </div>
    <div class="w-1/2 text-2xl">
        <div class="flex items-start mb-4">
            <p class="mr-4">First Name:</p>
            <p class="font-bold text-blue-900">@Orphan.FirstName</p>
        </div>
        <div class="flex items-start mb-4">
            <p class="mr-4">Middle Name:</p>
            <p class="font-bold text-blue-900">@Orphan.MiddleName</p>
        </div>
        <div class="flex items-start mb-4">
            <p class="mr-4">Last Name:</p>
            <p class="font-bold text-blue-900">@Orphan.LastName</p>
        </div>
        <div class="flex items-start mb-4">
            <p class="mr-4">Gender:</p>
            <p class="font-bold text-blue-900">@Orphan.Gender</p>
        </div>
        <div class="flex items-start mb-4">
            <p class="mr-4">DOB:</p>
            <p class="font-bold text-blue-900">@Orphan.DateOfBirth?.ToString("MM/dd/yyyy")</p>
        </div>
        <div class="flex items-start mb-4">
            <p class="mr-4">Condition:</p>
            <p class="font-bold text-blue-900">@Orphan.Condition</p>
        </div>
        <div class="flex items-start mb-4">
            <p class="mr-4">Year of Admission:</p>
            <p class="font-bold text-blue-900">@Orphan.YearOfAdmission?.ToString("yyyy")</p>
        </div>
        <div class="flex items-start mb-4">
            <p class="mr-4">Status:</p>
            <p class="font-bold text-blue-900">@Orphan.LCMStatus</p>
        </div>
        <div class="flex items-start mb-4">
            <p class="mr-4">Profile Number:</p>
            <p class="font-bold text-blue-900">@Orphan.ProfileNumber</p>
        </div>

    </div>
</div>


@code {

    [Parameter]
    public OrphanDetailsModel Orphan { get; set; }

    [Parameter]
    public EventCallback HandleToggleEditView { get; set; }

    private async Task SwitchToEditViewHandler()
    {
        await HandleToggleEditView.InvokeAsync();
    }

}