@page "/foo"
@using LCMClient.Models
@inject HttpClient http

<h3>Foo</h3>


<button type="button"
        class="border border-indigo-500 bg-indigo-500 text-white rounded-md px-4 py-2 m-2 transition duration-500 ease select-none hover:bg-indigo-600 focus:outline-none focus:shadow-outline"
        @onclick="@OnClickHandler">
    Fetch
</button>


<h3>
    @message
</h3>


<MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Delete" Color="Color.Secondary">Delete</MudButton>
<MudButton Variant="Variant.Filled" EndIcon="@Icons.Material.Send" Color="Color.Primary">Send</MudButton>
<MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.CloudUpload">Upload</MudButton>
<MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Mic" Disabled="true">Talk</MudButton>
<MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Save" Color="Color.Primary" Size="Size.Small">Save</MudButton>
<MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Save" Color="Color.Primary" Size="Size.Large">Save</MudButton>

<MudAvatar Class="mb-6">A</MudAvatar>
<MudAvatar Class="ml-12" Color="Color.Primary">B</MudAvatar>
<MudAvatar Class="mt-16" Color="Color.Secondary">AB</MudAvatar>


@code {

    string message = "No message";

    private async Task OnClickHandler()
    {
        string url = $"{ http.BaseAddress }foo";

        try
        {
            var result = await http.GetFromJsonAsync<FooModel>(url);

            message = result.Message;
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
            message = ex.Message;
        }

    }
}
