@inject NavigationManager navigationManager

<MudNavMenu>
    <MudNavLink Match="NavLinkMatch.All" Href="@navigationManager.ToAbsoluteUri("dashboard").AbsoluteUri">
        <div class="d-flex">
            <div class="mr-2">
                <DashboardSVG Width="6" Height="6" />
            </div>
            <div>
                <span class="">Dashboard</span>
            </div>
        </div>
    </MudNavLink>

    <AuthorizeView Roles="Admin">
        <Authorized>
            <MudNavLink Match="NavLinkMatch.Prefix" Href="@navigationManager.ToAbsoluteUri("admin").AbsoluteUri">
                <div class="d-flex">
                    <div class="mr-2">
                        <AdminSVG Width="6" Height="6" />
                    </div>
                    <div>
                        <span class="">Admin</span>
                    </div>
                </div>
            </MudNavLink>
        </Authorized>
    </AuthorizeView>

    <MudNavLink Match="NavLinkMatch.Prefix" Href="@navigationManager.ToAbsoluteUri("orphans").AbsoluteUri">
        <div class="d-flex">
            <div class="mr-2">
                <OrphanSVG Width="6" Height="6" />
            </div>
            <div>
                <span class="">Orphans</span>
            </div>
        </div>
    </MudNavLink>
    <MudNavLink Match="NavLinkMatch.Prefix" Href="@navigationManager.ToAbsoluteUri("guardians").AbsoluteUri">
        <div class="d-flex">
            <div class="mr-2">
                <GuardianSVG Width="6" Height="6" />
            </div>
            <div>
                <span class="">Guardians</span>
            </div>
        </div>
    </MudNavLink>
    <MudNavLink Match="NavLinkMatch.Prefix" Href="@navigationManager.ToAbsoluteUri("sponsors").AbsoluteUri">
        <div class="d-flex">
            <div class="mr-2">
                <SponsorSVG Width="6" Height="6" />
            </div>
            <div>
                <span class="">Sponsors</span>
            </div>
        </div>
    </MudNavLink>
    <MudNavLink Match="NavLinkMatch.Prefix" Href="@navigationManager.ToAbsoluteUri("checkconnection").AbsoluteUri">
        <div class="d-flex">
            <div class="mr-2">
                <MudIcon Icon="@Icons.Material.NetworkCheck"></MudIcon>
            </div>
            <div>
                <span class="">Check Connection</span>
            </div>
        </div>
    </MudNavLink>
</MudNavMenu>